* {
    font-family:Arial;
}
.navBar {
    list-style-type: none;
    margin: none;
    padding: none;
    display: flex;
}

.navBarElem li a {
    display: block;
    width: 100px;
    background-color: cornflowerblue;
}