* {
    font-family:Arial;
}
.navBar {
    list-style-type: none;e
    margin: none;
    padding: none;
    display: flex;
}

.navBarElem li {
    display: block;
    background-color: cornflowerblue;
    padding: 5px;
}